.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgb(223, 223, 223);
  box-shadow: 1px 0 10px rgb(105, 105, 105);

  h1 {
    margin: 10px;
  }

  .logo-nav {
    width: 50px;
    height: 100%;
    display: none;
  }

  ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: auto;

    li {
      margin: 20px;
      font-size: 20px;
    }
  }
}

@media (min-width: 768px) {
  .nav {
    flex-direction: column;
    h1 {
      font-size: 30px;
    }

    ul li {
      font-size: 25px;
    }
  }
}

@media (min-width: 1200px) {
  .nav {
    flex-direction: row;

    .logo-nav {
      display: block;
      margin-left: 20px;
    }
    

    h1 {
      margin: 0 15px 0 30px;
      width: 100%;
      max-width: 250px;
    }

    ul {
      justify-content: right;
      margin-right: 20px;
      max-width: 600px;

      li {
        margin-left: 100px;
        font-size: 30px;
      }
    }    
  }
}